.navigation,.navbar
{
  height: 90px;
  width: 100%;
  position: fixed;
  display: flex;
  top:0%;
  background-color: #fff;
  z-index: 999;
  border: 1px solid lightgrey;
}

.nav
{
    display: flex;
    justify-content: space-between;
}
.search
{
    width: 80%;
    margin-left: 10%;
    padding: 10px 50px;
    border: 1px solid rgb(134, 83, 147);
    border-radius: 10px;
    outline: none;
}
.pincode
{
    font-size: 12px;
    text-decoration: none;
}
.icons
{
    font-size: 15px;
}
.input
{
    border: 1px solid violet;
    border-radius: 15px;
    position: relative;

}
.input input
{
    border: none;
    outline: none;
    margin-left: 10px;
    padding-top: 5px;
}
.input button
{
    position: absolute;
    top: 0%;
    right: 0%;
}

/* media icon setting */
.slidebaritem 
{
  height: 100vh;
  background-color: #433d8b;
  position: absolute;
  top:99%;
  padding: 10px 20px;
  color: #fff;
}
